Steven Emrick - steve.emrick@nih.gov
usage: python crosswalk.py -k <your-api-key>
You can specify a specific UMLS version with the -v argument, but it is not required
This reads a file with codes from the Human Phenotype Ontology and maps them to the US Edition of SNOMED CT through UMLS CUIs

In [1]:
from __future__ import print_function
from Authentication import *
import requests
import json
import argparse
import collections
import sys
import os
import pandas as pd

# Cleaning the data

In [15]:
df = pd.read_csv("source_data.csv")

In [16]:
df.head()

,patient_id,age,gender,race,admission_date,diagnosis1,diagnosis2,diagnosis3,diagnosis4,diagnosis5,hcpcs,procedure1,procedure2,procedure3,procedure4,procedure5
0,P302,70,F,Unknown,12/14/2030,41071,51881,99672,78551,5856,81001,66,3607,45,40,3722
1,P430,62,F,Unknown,4/28/2021,41401,5849,4139,4148,V4582,82550,66,3607,3722,8853,45
2,P492,78,F,Unknown,7/7/2048,41011,42821,5185,4271,9971,82948,66,3606,3722,8853,45
3,P651,80,F,Unknown,2/18/2016,2848,42731,486,11284,5781,86901,4131,3893,4513,9904,8871
4,P679,68,F,Unknown,10/21/2013,9961,25040,40391,5856,41400,85014,3927,3895,3995,9904,3895

In [17]:
df.dtypes

patient_id        object
age                int64
gender            object
race              object
admission_date    object
diagnosis1        object
diagnosis2        object
diagnosis3        object
diagnosis4        object
diagnosis5        object
hcpcs             object
procedure1        object
procedure2        object
procedure3        object
procedure4        object
procedure5        object
dtype: object

# Prepare the CUI table

In [18]:
df2= pd.DataFrame(columns = ['IDC9', 'CUI'])

In [19]:
df2.head()

Empty DataFrame
Columns: [IDC9, CUI]
Index: []

In [20]:
columns = ["diagnosis1","diagnosis2","diagnosis3","diagnosis4","diagnosis5", "procedure1", "procedure2", "procedure3", "procedure4", "procedure5"]
for i in columns:
    print(pd.concat([df2['IDC9'], df[i]], ignore_index = True))

0      41071
1      41401
2      41011
3       2848
4       9961
5       8830
6      41401
7       5120
8      41401
9       4732
10     41401
11      4738
12     41401
13     41401
14     41401
15      5921
16      4589
17      3843
18     44422
19     37556
20     41400
21      4240
22      1733
23     41401
24     78650
25       470
26     37000
27     71690
28     37430
29      8738
       ...
970    40391
971    53642
972    41401
973    V7281
974     4413
975     5231
976     4321
977    41401
978     4280
979     7071
980     4730
981     4739
982    41401
983    78650
984     7812
985    41401
986     4730
987     4280
988    41401
989    81201
990     9982
991    41401
992    41402
993     4732
994    41401
995      470
996     4254
997    99672
998     4139
999    41041
Length: 1000, dtype: object
0      51881
1       5849
2      42821
3      42731
4      25040
5      V1051
6       4139
7       4928
8       4401
9       4730
10      4111
11       496
12      4292
13      4019
14     25000
15     41401
16      5856
17      5990
18     49320
19     37552
20      4111
21     99811
22      1730
23      4111
24     25000
25      4780
26     37060
27     72210
28     37434
29      9222
       ...
970     5849
971     5070
972     4148
973    41401
974    78559
975    78039
976      496
977    41402
978     2875
979     6827
980     4732
981     4780
982     4111
983    42731
984    78192
985     4111
986     4732
987    41401
988     4111
989    41400
990      389
991     4111
992    41401
993     4730
994     4401
995     4780
996     4280
997    41401
998    40290
999     5856
Length: 1000, dtype: object
0      99672
1       4139
2       5185
3        486
4      40391
5      V1046
6       4019
7       5570
8      25001
9       4731
10     V1508
11     78057
12     V4582
13     V4581
14      4019
15      4439
16     99673
17      6826
18      4439
19      2161
20     25000
21      2848
22      V421
23     25001
24      4019
25      4739
26     36472
27      7242
28     37487
29     78009
       ...
970     4240
971     6822
972     2724
973    40391
974      389
975     5238
976    78079
977     4299
978     5601
979    V4364
980      470
981      470
982     4019
983    41400
984    42731
985    41072
986     4731
987      496
988     4019
989    V4581
990    78552
991     2720
992     4111
993     4731
994     4010
995    47400
996     7802
997     4139
998     4241
999    25000
Length: 1000, dtype: object
0      78551
1       4148
2       4271
3      11284
4       5856
5      41400
6       2724
7       9982
8       4019
9       4733
10     V4582
11     42789
12     V4581
13      2724
14      4148
15      4019
16     51883
17     70709
18      4019
19      2163
20      7905
21     42731
22      4019
23      4280
24     30000
25      4710
26     36471
27      7248
28      6983
29     25000
       ...
970     5819
971     4821
972     4019
973     2724
974     5185
975     5258
976     7820
977    25000
978     4148
979    V1005
980     4780
981     9050
982     2720
983     2449
984     4280
985     4019
986      417
987    30000
988     2724
989    V1259
990    99592
991    V1582
992    40291
993     4733
994     4280
995    78057
996    42731
997     4019
998     4240
999     5990
Length: 1000, dtype: object
0       5856
1      V4582
2       9971
3       5781
4      41400
5       4019
6      25000
7       5185
8       2724
9       4240
10      3051
11     27800
12      2724
13      2749
14      2859
15     V7283
16      7821
17     70703
18     41401
19     42789
20     78650
21      7051
22      2323
23      2724
24      5780
25     49390
26     36100
27     71697
28     25051
29     78057
       ...
970    40591
971      389
972    V1581
973    V4581
974    99592
975     3159
976    71590
977     4019
978    78009
979     V443
980    25000
981     4718
982     4280
983    49390
984     2724
985     2720
986     2768
987      412
988    42731
989     V142
990      845
991     V048
992    42842
993      470
994    44020
995     4739
996    25060
997     2720
998    41401
999    40391
Length: 1000, dtype: object
0           66
1           66
2           66
3         4131
4         3927
5         9354
6         3601
7         3129
8         3722
9         2263
10        3601
11        2263
12        3722
13        3722
14          66
15        9762
16        3950
17        9672
18        3950
19         944
20        9929
21        3523
22         863
23        8857
24        9929
25        2188
26        1163
27         391
28         836
29        9390
        ...
970       5523
971       4463
972       3601
973       3605
974       3844
975       2341
976       8703
977       3723
978       8944
979       8624
980        215
981       2188
982       3601
983       8903
984    97110GP
985         66
986       2263
987         51
988       3605
989       7901
990       5459
991       3601
992       3601
993       2263
994       3723
995       2169
996       3774
997         66
998       3722
999         66
Length: 1000, dtype: object
0         3607
1         3607
2         3606
3         3893
4         3895
5         9929
6         3606
7          346
8         8856
9         2262
10        3606
11        2264
12        8856
13        8853
14        3607
15        5732
16          40
17        9604
18        3990
19        2162
20        9926
21        3723
22        2743
23        3723
24        9929
25        2169
26        1232
27        6442
28         836
29        8659
        ...
970       8875
971       5459
972       3606
973       3607
974        311
975        232
976       8897
977       8856
978       9205
979       8624
980       2263
981       2169
982       3722
983       9929
984    97112GP
985       3607
986       2263
987       3726
988       3606
989       9929
990       4562
991       3606
992       3607
993       2263
994       8856
995       2188
996       3783
997       3722
998       8853
999       3606
Length: 1000, dtype: object
0           45
1         3722
2         3722
3         4513
4         3995
5         9938
6         3722
7         3322
8         8853
9         2241
10        3722
11         222
12        8853
13        8856
14          66
15        5631
16        8849
17        3893
18        8848
19         972
20        9926
21        8856
22        2755
23        8856
24        9929
25        2162
26        1474
27         532
28         887
29        9929
        ...
970       8872
971       4432
972       3722
973       3722
974       5412
975       9654
976       8841
977       8853
978       8703
979       8624
980       2262
981       2162
982       8856
983       9929
984    92610GN
985         40
986       2261
987       3726
988       3722
989       9929
990       4673
991       3722
992       3722
993        222
994       8853
995       2769
996       3726
997       8856
998       8856
999       3722
Length: 1000, dtype: object
0           40
1         8853
2         8853
3         9904
4         9904
5         9936
6         8853
7          458
8         8842
9         2252
10        8853
11        2241
12        8844
13        8849
14        3722
15         560
16        3995
17        3891
18        8842
19         825
20        9929
21        8853
22        1829
23        8853
24        9917
25        2263
26         149
27        8192
28         887
29        9936
        ...
970       8897
971       3324
972       8853
973       8856
974       8417
975       8712
976       8891
977       8842
978       9214
979       8624
980        222
981        222
982       3606
983       9929
984    92526GN
985         45
986       2261
987       3727
988       8856
989       9929
990       4675
991       8856
992       8853
993        222
994       8842
995        294
996       3734
997       8853
998       8842
999       8853
Length: 1000, dtype: object
0         3722
1           45
2           45
3         8871
4         3895
5         8659
6         8856
7          415
8         8845
9         2263
10        8856
11        2188
12        3601
13        8842
14        8856
15         598
16        9671
17        3324
18        8841
19         870
20        9929
21        3403
22        1879
23        9355
24        9917
25         222
26        1479
27        9923
28        2724
29        9938
        ...
970       8847
971       9702
972       8856
973       8853
974       7865
975       8931
976       8749
977       8857
978       8876
979       8624
980       2161
981       2251
982       8848
983       9929
984    97535GO
985       3722
986       2241
987       3734
988       8853
989       9929
990       4523
991       8853
992       8856
993       2252
994       8845
995        282
996       3727
997         40
998       8844
999         45
Length: 1000, dtype: object

In [21]:
len(df2['IDC9'])

0

In [22]:
s1 = pd.Series(['a', 'b'])
s2 = pd.Series(['c', 'd'])
s3 = pd.Series(['e', 'f'])
pd.concat([s1, s2, s3])

0    a
1    b
0    c
1    d
0    e
1    f
dtype: object

## add a decimal for diagnosis colomes after the 3rd digit

In [23]:
for i in ["diagnosis1","diagnosis2","diagnosis3","diagnosis4","diagnosis5"]:
    df[i] = df[i].str[:3] + '.' + df[i].str[3:]

In [24]:
df.head()

,patient_id,age,gender,race,admission_date,diagnosis1,diagnosis2,diagnosis3,diagnosis4,diagnosis5,hcpcs,procedure1,procedure2,procedure3,procedure4,procedure5
0,P302,70,F,Unknown,12/14/2030,410.71,518.81,996.72,785.51,585.6,81001,66,3607,45,40,3722
1,P430,62,F,Unknown,4/28/2021,414.01,584.9,413.9,414.8,V45.82,82550,66,3607,3722,8853,45
2,P492,78,F,Unknown,7/7/2048,410.11,428.21,518.5,427.1,997.1,82948,66,3606,3722,8853,45
3,P651,80,F,Unknown,2/18/2016,284.8,427.31,486.,112.84,578.1,86901,4131,3893,4513,9904,8871
4,P679,68,F,Unknown,10/21/2013,996.1,250.40,403.91,585.6,414.00,85014,3927,3895,3995,9904,3895

## add a decimal for procedure colomes after the 2rd digit if the procedure length greater than 2

In [25]:
for i in ["procedure1", "procedure2", "procedure3", "procedure4", "procedure5"]:
    df[i] = df[i].apply(lambda x: x[:2] + "." + x[2:] if len(x) > 2 else x)

In [26]:
df.head()

,patient_id,age,gender,race,admission_date,diagnosis1,diagnosis2,diagnosis3,diagnosis4,diagnosis5,hcpcs,procedure1,procedure2,procedure3,procedure4,procedure5
0,P302,70,F,Unknown,12/14/2030,410.71,518.81,996.72,785.51,585.6,81001,66,36.07,45,40,37.22
1,P430,62,F,Unknown,4/28/2021,414.01,584.9,413.9,414.8,V45.82,82550,66,36.07,37.22,88.53,45
2,P492,78,F,Unknown,7/7/2048,410.11,428.21,518.5,427.1,997.1,82948,66,36.06,37.22,88.53,45
3,P651,80,F,Unknown,2/18/2016,284.8,427.31,486.,112.84,578.1,86901,41.31,38.93,45.13,99.04,88.71
4,P679,68,F,Unknown,10/21/2013,996.1,250.40,403.91,585.6,414.00,85014,39.27,38.95,39.95,99.04,38.95

# API connection Code

In [65]:
if sys.version_info < (3, 0):
    reload(sys)
    sys.setdefaultencoding('utf-8')


apikey =  "b693c885-4a5f-4cb5-a58c-1c80f7d025ee"
version = "2019AB"
source = "ICD9CM"
serch_type = "exact"
AuthClient = Authentication(apikey)

In [66]:
###################################
#get TGT for our session
###################################
#https://utslogin.nlm.nih.gov/rest/search/current
#https://uts-ws.nlm.nih.gov/rest/search/current/2019AB?string=Reconstruction of conjunctival cul-de-sac with free graft&searchType=exact&ticket=ST-6534140-cE65gegbW4i77pLEE2s3-cas

In [67]:
tgt = AuthClient.gettgt()
base_uri = "https://uts-ws.nlm.nih.gov"
crosswalk_endpoint = "/rest/crosswalk/"+version+"/source/ICD9CM"
content_endpoint = "/rest/content/"+str(version)+"/source/"+str(source)

In [68]:
def crosswalk_code(path):
    query = {'ticket': AuthClient.getst(tgt),'targetSource': 'SNOMEDCT_US'}
    r = requests.get(base_uri + path, params=query)
    #print(r.url + "\n")
    items = json.loads(r.text)
    return items

In [69]:
def content_code(path):
    query = {'ticket': AuthClient.getst(tgt)}
    r = requests.get(base_uri + path, params=query)
    #print(r.url + "\n")
    items = json.loads(r.text)
    return items

In [78]:
pageNumber=0

for index, row in data1.iterrows():
    code = row['ICD9_Code']
    path =  content_endpoint+"/"+code
    try:
        results = content_code(path)
        print(code)
        string = results["result"]["name"]
        
        print(string)
        pageNumber += 1
        query_2 = {'string':string,'searchType':serch_type, 'ticket':AuthClient.getst(tgt)}
        
        content_endpoint_2 = "/rest/search/current"
        r = requests.get(uri+content_endpoint_2,params=query_2)
        print(uri+content_endpoint_2)
        r.encoding = 'utf-8'
        items  = json.loads(r.text)
        jsonData = items["result"]
        #jsonData = items["result"]["results"][0]['ui']
       
        print(jsonData)
        
    
    except ValueError:
        print("No result found for "+code)
        pass

10.42
Reconstruction of conjunctival cul-de-sac with free graft
https://utslogin.nlm.nih.gov/rest/search/current
No result found for 10.42
10.49
Other conjunctivoplasty
https://utslogin.nlm.nih.gov/rest/search/current
No result found for 10.49
10.5
Lysis of adhesions of conjunctiva and eyelid

KeyboardInterrupt:

In [ ]:
results

In [ ]:
with open('dr_min_data.csv','r') as f:
     for line in f:
         ##get rid of newlines
         code = line.strip()
         path =  crosswalk_endpoint+"/"+code
         try:
             results = crosswalk_code(path)
             for sourceAtomCluster in results["result"]:
                 print('ICD9CM Code - ' + code+ '\t' + 'SNOMEDCT concept -- ' + sourceAtomCluster["ui"] + ': ' + sourceAtomCluster["name"])

         except ValueError:
             print("No result found for "+code)
             pass

f.close()

In [ ]:
sourceAtomCluster

In [ ]:

path =  crosswalk_endpoint+"/"+"470"
results = crosswalk_code(path)

In [ ]:
results

In [ ]:
from __future__ import print_function
from Authentication import *
import requests
import json
import argparse

data_source =[]


#source = "ICD9CM"
#username = args.username
#password = args.password
apikey = "b693c885-4a5f-4cb5-a58c-1c80f7d025ee"
version = "2019AB"
string = "458.9"
source = "ICD9CM"
uri = "https://uts-ws.nlm.nih.gov"
content_endpoint = "/rest/search/"+version
##get at ticket granting ticket for the session
AuthClient = Authentication(apikey)
tgt = AuthClient.gettgt()
pageNumber=0

while True:
    ##generate a new service ticket for each page if needed
    ticket = AuthClient.getst(tgt)
    pageNumber += 1
    query = {'string':string,'ticket':ticket, 'pageNumber':pageNumber}
    #query['includeObsolete'] = 'true'
    #query['includeSuppressible'] = 'true'
    #query['returnIdType'] = "sourceConcept"
    query['sabs'] = "ICD9CM"
    r = requests.get(uri+content_endpoint,params=query)
    r.encoding = 'utf-8'
    items  = json.loads(r.text)
    jsonData = items["result"]
    #print (json.dumps(items, indent = 4))

    print("Results for page " + str(pageNumber)+"\n")
    
    for result in jsonData["results"]:
      #data_source.append(result["rootSource"])
      print(result)
      try:
        print("ui: " + result["ui"])
      except:
        NameError
      try:
        print("uri: " + result["uri"])
      except:
        NameError
      try:
        print("name: " + result["name"])
      except:
        NameError
      try:
        print("Source Vocabulary: " + result["rootSource"])
      except:
        NameError
      
      print("\n")
        
    
    ##Either our search returned nothing, or we're at the end
    if jsonData["results"][0]["ui"] == "NONE":
        break
    print("*********")

In [ ]:
set(data_source)

# creating ICD9 code dataframe

In [27]:
ICD9_Code = []
for i in ['diagnosis1','diagnosis2','diagnosis3','diagnosis4','diagnosis5', 'procedure1','procedure2','procedure3','procedure4','procedure5']:
    #print(i)
    #data1['ICD9_Code'] = data1['ICD9_Code'].concat(data[i], ignore_index = True)
    
    ICD9_Code.append(df[i].tolist())

In [28]:
Code = [item for sublist in ICD9_Code for item in sublist]

In [29]:
import numpy as np
x = np.array(Code) 
Code = np.unique(x)

In [30]:
data1 = pd.DataFrame(Code, columns = ['ICD9_Code'])

In [31]:
data1['ICD9_Code']

0        10.42
1        10.49
2         10.5
3         10.9
4        10.91
5        11.00
6        11.39
7        11.49
8        11.52
9        11.63
10       11.64
11       11.73
12       110.1
13       112.0
14       112.5
15      112.84
16       114.6
17      115.90
18       117.5
19       12.14
20       12.32
21       12.33
22        12.4
23       12.41
24       12.42
25       12.64
26       12.69
27       12.89
28       12.91
29       12.92
         ...
1763    V46.11
1764    V49.72
1765    V49.73
1766    V49.76
1767    V53.31
1768    V53.32
1769     V54.8
1770     V55.0
1771     V57.1
1772     V58.0
1773     V58.1
1774     V58.3
1775    V58.49
1776    V58.61
1777    V58.69
1778    V58.73
1779    V58.81
1780    V62.84
1781     V65.2
1782    V67.09
1783     V70.7
1784     V72.6
1785    V72.81
1786    V72.82
1787    V72.83
1788    V72.84
1789    V76.41
1790    V76.44
1791    V76.49
1792     V81.5
Name: ICD9_Code, Length: 1793, dtype: object